
@font-face {
  font-family: 'rating';
  src: url('font/rating.eot?59009425');
  src: url('font/rating.eot?59009425#iefix') format('embedded-opentype'),
       url('font/rating.woff?59009425') format('woff'),
       url('font/rating.ttf?59009425') format('truetype'),
       url('font/rating.svg?59009425#infociti') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'rating';
    src: url('../font/rating.svg?73400296#rating') format('svg');
  }
}
*/
 
 [class^="irate-"]:before, [class*=" irate-"]:before {
  font-family: "rating";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
	font-size: 150%;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.irate-rate, .irate-rate-empty, .irate-rate-half-alt {
  cursor: pointer;
}
.irate-rate:before { content: '\e804'; color: #FF6600 } /* '' */
.irate-rate-empty:before { content: '\e803'; color: #CCC} /* '' */
.irate-rate-half-alt:before { content: '\e801'; } /* '' */


div.rating {
  font-size: 12px;
  white-space: nowrap;
	margin: 15px 0;
}

div.rating-text {
  display: inline;
  position: relative;
  top: -4px;
  padding-left: 5px;
  white-space: nowrap;
}

div.rating-notext {
  display: none;
}

img.rating {
  cursor: pointer;
}

img.rating-disabled {
  cursor: default;
}

img.rating-user {
  cursor: pointer;
}

img.rating-user-disabled {
  cursor: default;  
}

div.fallback {
  display: inline;
}

div.fallback form {
  display: inline;
}

div.fallback label {
  position: relative;
  top: -4px;
}

div.fallback input[type="radio"] {

}

div.fallback input[type="submit"] {
  position: relative;
  top: -4px;
  left: 5px;
}

div.rating-flash {
  display: inline;
  position: relative;
  top: -4px;
  padding-left: 5px;
  white-space: nowrap;
}